/**
 * File: styles.css
 * Created: 2018-09-07-17:02
 */

 @charset "UTF-8";

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.box{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    
    min-height: 94px;
	border: 1px solid #C5C5C5;	
	background-color: #EEEEEE;
	box-sizing: content-box;
  /*For delete: Block cannot has a child logics, please add that styles to child elements.
    padding-left: 3% !important;
    padding-right: 3% !important;*/ 
   }

  .box-options {
      display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
/*            justify-content: space-between;
*/    
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
     padding: 26px 27px 36px 32px;
  }


.sprawd {
  height: 26px;
  width: 77px;
  color: #FFFFFF;
  font-family: "TeleGroteskNormal";
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
}

.container {
    max-width: 2560px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-family: "TeleGroteskNormal"; 
    box-sizing: content-box;
    padding-left: 12% !important;
    padding-right: 12% !important;
    margin-left: auto !important;
    margin-right: auto !important;}

.adres {
	color: #2D3236;
	font-family: "TeleGroteskNormal";
	font-size: 24px;
	line-height: 27px;
	padding-left: 23px;
}


/*form 1 start*/

.group {
  height: 44px;
  width: 616px;
}

.required-star {
    color: red;
}

.podaj-swoj-adres-i-s {
  height: 27px;
  width: 549px;
  color: #2D3236;
  font-family: "TeleGroteskNormal";
  font-size: 24px;
  font-weight: bold;
  line-height: 27px;
}

.rectangle {
  height: 200px;
  width: 1114px;
  border: 1px solid #C5C5C5;
  background-color: #EEEEEE;
}

.rectangle-box {
  height: 21px;
  width: 202px;
  border: 1px solid #C5C5C5;
  background-color: #FFFFFF;
  margin-top: 8px;
  margin-right: 40px;
}

.pasted-image-1 {
  height: 44px;
  width: 44px;
  margin-right: 23px;
}

.miejscowo {
  height: 21px;
  width: 98px;
  color: #2D3236;
  font-family: "TeleGroteskNormal";
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  display: block;
}

.ulica {
  height: 21px;
  width: 43px;
  color: #2D3236;
  font-family: "TeleGroteskNormal";
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  display: block;
}

.nr-domu {
  height: 21px;
  width: 67px;
  color: #2D3236;
  font-family: "TeleGroteskNormal";
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  display: block;
}

.nr-lokalu {
  height: 21px;
  width: 88px;
  color: #2D3236;
  font-family: "TeleGroteskNormal";
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  display: block;
}

.rectangle-6-copy-4 {
  height: 21px;
  width: 106px;
  border: 1px solid #C5C5C5;
  background-color: #FFFFFF;
  margin-top: 8px;
  margin-right: 41px;
}

.rectangle-6-copy-3 {
  height: 21px;
  width: 106px;
  border: 1px solid #C5C5C5;
  background-color: #FFFFFF;
  margin-top: 8px;
  margin-right: 34px;
}


.rectangle-6-copy-2 {
  height: 68px;
  width: 220px;
  border-radius: 14px;
  background-color: #E20074;
}


/*.option-grid input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
*/

.option-grid input[type="text"]
{
    font-size: 24px;
    color: #2D3236;
    font-family: "TeleGroteskNormal";
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    padding-left: 14px;
    padding-top: 10px;
    padding-bottom: 8px;
}


/*Checkbox implementation Start*/

.street-container {
    position: absolute;
    padding-left: 35px;
    margin-top: 20px;
    margin-left: 189px;
    /* right: 0; */
    /* float: right; */
    /* margin-bottom: 12px; */
    cursor: pointer;
    /* font-size: 22px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.street-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark-street {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    border: 1px solid #C5C5C5;
}

/* On mouse-over, add a grey background color */
.street-container:hover input ~ .checkmark-street {
    background-color: #fff;
    border: 1px solid #9dbff6;
}

/* When the checkbox is checked, add a blue background */
.street-container input:checked ~ .checkmark-street {
    background-color: #ffffff;
}

/* Create the checkmark-street/indicator (hidden when not checked) */
.checkmark-street:after {
    position: absolute;
    display: none;
    background : url(../img/shape-icon.png) no-repeat;
  content : "";
}

/* Show the checkmark-street when checked */
.street-container input:checked ~ .checkmark-street:after {
    display: block;
}

/* Style the checkmark-street/indicator */
.street-container .checkmark-street:after {
    left: 3px;
    top: 4px;
    width: 11px;
    height: 9px;
}

.option-element-check {
      display: flex;
    justify-content: space-between;
}


/*Checkbox impl End*/

/*form 1 end*/

.adres-bold {
	color: #2D3236;
	font-family: "TeleGroteskNormal";
	font-size: 24px;
	line-height: 27px;
	font-weight: bold;
}


.inny-adres {
	color: #DE2077;
	font-family: "TeleGroteskNormal";
	font-size: 24px;
	width: 116px;
	line-height: 27px;
	text-align: right;
	text-decoration: none;
}
.summary {
	padding-left: 35px;
	padding-right: 35px;
}

.box-container {
	  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 26px;
    margin-left: 32px;
    width: 616px;
}

h1{
	height: 68px;
    width: 661px;
    color: #2D3236;	
    font-family: 'Roboto', sans-serif;	
    font-size: 58px;	
		font-weight: bold;	
		line-height: 68px;	
		margin-top: 60px;
		margin-bottom: 50px;
}


@font-face {
  font-family: 'TeleGroteskFett';
  src: url("../fonts/TeleGroteskFett.woff"); }

@font-face {
  font-family: 'TeleGroteskHalbfett';
  src: url("../fonts/TeleGroteskHalbfett.woff"); }

@font-face {
  font-family: 'TeleGroteskHeadline-Regular';
  src: url("../fonts/TeleGroteskHeadline-Regular.woff"); }

@font-face {
  font-family: 'TeleGroteskNormal';
  src: url("../fonts/TeleGroteskNormal.woff"); }

@font-face {
  font-family: 'TeleGroteskUltra';
  src: url("../fonts/TeleGroteskUltra.woff"); }

@font-face {
  font-family: 'TeleGrotesk';
  src: url("../fonts/TeleGroteskFett.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/TeleGroteskFett.eot?#iefix") format("embedded-opentype"), url("../fonts/TeleGroteskFett.woff2") format("woff2"), url("../fonts/TeleGroteskFett.woff") format("woff"), url("../fonts/TeleGroteskFett.ttf") format("truetype"), url("../fonts/TeleGroteskFett.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'TeleGrotesk';
  src: url("../fonts/TeleGroteskHalbfett.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/TeleGroteskHalbfett.eot?#iefix") format("embedded-opentype"), url("../fonts/TeleGroteskHalbfett.woff2") format("woff2"), url("../fonts/TeleGroteskHalbfett.woff") format("woff"), url("../fonts/TeleGroteskHalbfett.ttf") format("truetype"), url("../fonts/TeleGroteskHalbfett.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'TeleGrotesk';
  src: url("../fonts/TeleGroteskHeadline-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/TeleGroteskHeadline-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TeleGroteskHeadline-Regular.woff2") format("woff2"), url("../fonts/TeleGroteskHeadline-Regular.woff") format("woff"), url("../fonts/TeleGroteskHeadline-Regular.ttf") format("truetype"), url("../fonts/TeleGroteskHeadline-Regular.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'TeleGrotesk';
  src: url("../fonts/TeleGroteskUltra.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/TeleGroteskUltra.eot?#iefix") format("embedded-opentype"), url("../fonts/TeleGroteskUltra.woff2") format("woff2"), url("../fonts/TeleGroteskUltra.woff") format("woff"), url("../fonts/TeleGroteskUltra.ttf") format("truetype"), url("../fonts/TeleGroteskUltra.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'TeleGrotesk';
  src: url("../fonts/TeleGroteskNormal.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/TeleGroteskNormal.eot?#iefix") format("embedded-opentype"), url("../fonts/TeleGroteskNormal.woff2") format("woff2"), url("../fonts/TeleGroteskNormal.woff") format("woff"), url("../fonts/TeleGroteskNormal.ttf") format("truetype"), url("../fonts/TeleGroteskNormal.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: 100;
  font-style: normal; }


